@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
-webkit-user-select: none; /* Safari /
-ms-user-select: none; / IE 10 and IE 11 /
user-select: none; / Standard syntax */
}

/* Стили для рендеринга Markdown */
.prose p {
margin-bottom: 1em;
}

.prose em {
font-style: italic;
}

.prose strong {
font-weight: bold;
}

@layer base {
  :root {
    /* Конвертируем HEX в RGB */
    --background: 245 241 237; /* #F5F1ED */
    --text-main: 44 58 71;    /* #2C3A47 */
    --component-bg: 255 255 255; /* #FFFFFF */
    --accent: 154 123 102;   /* #9A7B66 */
    --accent-hover: 138 107 86; /* #8A6B56 */
    --border-color: 234 229 224; /* #EAE5E0 */
    --genre-highlight-border: 239 62 44; /* #EF3E2C */
    --genre-highlight-text: 239 62 44;   /* #EF3E2C */
  }

  .dark {
    /* И для тёмной темы тоже */
    --background: 49 39 39;     /* #312727 */
    --text-main: 255 255 255;   /* #FFFFFF */
    --component-bg: 49 39 39;     /* #312727 */
    --accent: 239 62 44;      /* #EF3E2C */
    --accent-hover: 217 52 34;   /* #D93422 */
    --border-color: 74 74 74;      /* #4a4a4a */
    --genre-highlight-border: 239 62 44; /* #EF3E2C */
    --genre-highlight-text: 239 62 44;   /* #EF3E2C */
  }
}

body {
  /* Эта часть остается без изменений */
  background-color: rgb(var(--background));
  color: rgb(var(--text-main));
  transition: background-color 0.3s, color 0.3s;
}